.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98vh;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.form * {
    margin-bottom: 30px;
}

.form-field {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid var(--clr-font-gray);
    width: 100%;
}

.image-field {
    margin: 5px 0;
}

.image-label {
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 25px 0 0 25px;
    color: var(--clr-font-gray);
    border: 1px solid var(--clr-font-gray);
    width: calc(300px - 42px);
}

.image-label:hover {
    background-color: var(--clr-light-gray);
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    width: 0px;
    visibility: hidden;
}

.image-btn {
    font-size: 15px;
    padding: 15 20px;
    border-radius: 0 25px 25px 0;
    border: 1px solid var(--clr-font-gray);
    background-color: white;
    color: var(--clr-font-gray);
    width: 100px
}

.image-btn:hover {
    background-color: var(--clr-light-gray);
    cursor: pointer;
}

.form-btn {
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background-color: var(--clr-font-dark);
    color: white;
    font-weight: bold;
    width: 100%;
}

.form-btn:hover {
    background-color: var(--clr-blue);
    cursor: pointer;
}

.suggestion {
    font-size: 20px;
    color: var(--clr-blue);
    text-decoration: none;
}