/* MAIN NAVIGATION MENU */
.sidebar-left {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-left .sidebar-tweet {
    font-size: 17px;
    font-weight: 700;
    color: white;
    background: var(--clr-blue);
    border: none;
    border-radius: 52px;
    padding: 15px;
    margin: 18px;
}

.sidebar-left .sidebar-tweet-compact {
    display: none;
    font-size: 17px;
    font-weight: 700;
    color: white;
    background: var(--clr-blue);
    border: none;
    border-radius: 52px;
    padding: 12px;
    width: 45px;
}

.sidebar-left .sidebar-tweet-compact:hover {
    cursor: pointer;
    background-color: rgb(26, 138, 212);
}

.sidebar-left .sidebar-tweet:hover {
    cursor: pointer;
    background-color: rgb(26, 138, 212);
}

/* Profile card  */



@media screen and (max-width: 1300px) {
    .sidebar-left {
        align-items: center;
    }

    .sidebar-left .sidebar-tweet {
        display: none;
    }

    .sidebar-left .sidebar-tweet-compact {
        display: block;
    }
}