

.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu * {
    margin-bottom: 2px;
}

.menu-logo {
    margin: 8px 24px;
}

.menu-logo i {
    padding: 12px;
    font-size: 28px;
    color: var(--clr-blue);
    border-radius: 52px;
}

.menu-logo i:hover {
    cursor: pointer;
    background-color: var(--clr-hover-blue);
}

.menu-items {
    padding: 18px;
}

.menu-items p{
    display: inline-block;
    font-size: 18px;
}

.menu-items a {
    text-decoration: none;
    color: var(--clr-font-dark);
    padding: 18px;
    border-radius: 52px;
}

.menu-items a:hover {
    cursor: pointer;
    background-color: var(--clr-hover-gray);
}

.menu-items i {
    margin-right: 18px;
    font-size: 22px;
}

@media screen and (max-width: 1300px) {

    .menu-items p {
        display: none;
    }
    
    .menu-logo {
        width: 100%;
        padding: 0px;
        margin-top: 10px;
        border-radius: 100%;
    }

    .menu-items {
        padding: 0px;
        margin: 25px 0 28px 20px;
        border-radius: 100%;
    }

    .menu-items i {
        margin: 0;
    }
}