.bookmark-feed {
    width: 600px;
    flex-grow: 1;
    margin: 0 30px;
}

.bookmark-header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: 1px solid var(--clr-light-gray);
}

.bookmark-title {
    font-size: 20px;
    padding: 19px;
}

.nav-back {
    color: var(--clr-font-dark);
}

.nav-back i{
    font-size: 20px;
    padding: 12px;
    border-radius: 52px;
}

.nav-back i:hover{
    background-color: var(--clr-hover-gray);
    cursor: pointer;
}