.main-feed {
    width: 600px;
    flex-grow: 1;
    margin: 0 30px;
}

.main-feed .home-header {
    
    border: 1px solid var(--clr-light-gray);
    background: rgba(255, 255, 255, 0.99);
    opacity: 0.90;
    position: sticky;
    top: 0;
}

.home-title {
    font-size: 20px;
    padding: 20px;
}

/* Compose Tweet */



@media screen and (max-width: 1300px) {
    .main-feed {
        margin-left: 0
    }
}