.edit-form {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}
.edit-text {
    border: none;
    background-color: rgb(255,255,255, 0.5);
    font-size: 15px;
    flex-grow: 1;
    border-radius: 22px;
    padding: 10px;
}

.tweet-media {
    border-radius: 22px;
    width: 100%;
    margin-top: 20px;
}

.edit-text:focus {
    outline: none;
    background-color: rgb(255,255,255);
}

.edit-btn {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 22px;
    margin-left: auto;
    margin-top: 20px;
    color: var(--clr-dark-gray);
    background-color: white;
    border: none;
}


.edit-btn:hover {
    background-color: var(--clr-medium-gray);
    cursor: pointer;
}

.tweet-media-label {
    margin-top: 20px;
}

.tweet-media-input {
    margin-top: 20px;
    width: 60%;
}