.during-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: 0;
}

.exit-btn i {
    font-size: 14px;
    padding: 10px;
    border-radius: 52px;
    margin-right: 10px;
}

.exit-btn i:hover {
    background-color: var(--clr-hover-gray);
    cursor: pointer;
}

.compose-tweet {
    display: flex;
    border: 1px solid var(--clr-light-gray);
    padding: 20px;
    border-radius: 22px;
    background-color: white;
}


.compose-tweet .profile-photo {
    object-fit: cover;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.compose-tweet .tweet-contents {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


.compose-tweet .tweet-text {
    background-color: transparent;
    width: 90%;
    font-size: 18px;
    border: none;
    margin: 15px;
}

.compose-tweet .tweet-text:focus {
    outline: none;
}

.compose-tweet .tweet-btn {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: var(--clr-blue);
    border: none;
    border-radius: 52px;
    padding: 10px 20px;
}

.compose-tweet .tweet-btn:disabled {
    background-color: var(--clr-font-gray);
    pointer-events: none;
}

.compose-tweet .tweet-btn:hover {
    cursor: pointer;
    background-color: rgb(26, 138, 212);
}

.tweet-media-label {
    margin-left: auto;
    flex-basis: 10%;
}

.tweet-media-label i {
    margin-top: 8px;
    font-size: 20px;
    color: var(--clr-font-gray);
    position: relative;
    left: 43px;
}

.tweet-media-label i:hover {
    color: var(--clr-dark-gray);
    cursor: pointer;
}

.compose-tweet .tweet-media-input {
    margin-top: 8px;
    width: 110px;
    color: var(--clr-font-gray);
}


input[type=file]::-webkit-file-upload-button {
    width: 0px;
    visibility: hidden;
}